.container-fluid {
  background-color: #88AB8E;
  display: grid;
}

.top-title {
  font-family: 'Kalnia', serif;
  font-size: larger;
  color: #F2F1EB;
}
.portfolio {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  color: #F2F1EB;
}

.intro-para {
  font-family: 'Quicksand', sans-serif;
  color: #F2F1EB;
}


.title {
  font-family: 'Kalnia', serif;
}

.middle-container {
  background-color: #F2F1EB;
  margin: 0%;
}
